{{#if prefixOrSuffix}}
<div class="input-group">
	{{#if prefix}}
	<span class="input-group-addon">{{prefix}}</span>
	{{/if}}
	{{#if decimal}}
		<input class="form-control" type="number" style="width: 12em;"/>
	{{else}}
		<input class="form-control" type="tel" style="width: 12em;"/>
	{{/if}}
	{{#if suffix}}
	<span class="input-group-addon">{{suffix}}</span>
	{{/if}}
</div>
{{else}}
	{{#if decimal}}
		<input class="form-control" type="number" style="width: 12em;"/>
	{{else}}
		<input class="form-control" type="tel" style="width: 12em;"/>
	{{/if}}
{{/if}}
