
<style>
	td.section {
		font-size: 12pt;
		font-weight: bold;
	}

	td.question {
		width: 50%;
	}

</style>

<div>User: <b>{{response.user}}</b></div>
<div>Response Id: <b>{{response.code}}</b></div>
<div>Date: <b>{{date}}</b>
<br><br>

<table class="table table-bordered">
	<tbody>
	{{#each items}}
		{{#if section}}
		<tr><td colspan="2" class="section">{{name}}</td></tr>
		{{/if}}
		{{#if question}}
		<tr>
			<td class="question">{{text}}</td>
			<td>
				{{answerText}}
				{{{answerHtml}}}
				{{#if location}}
					<div>At: <a href="http://maps.google.com/maps?q={{location.latitude}},{{location.longitude}}" target="_blank">
		            {{location.latitude}}&deg;, {{location.longitude}}&deg;</a>
		            {{#if location.accuracy}} (+/-){{location.accuracy}} {{/if}}
		           	</div>
				{{/if}}
				{{#if timestamp}}
					<div>Answered: {{timestamp}}</div>
				{{/if}}
			</td>
		</tr>
		{{/if}}
	{{/each}}
	</tbody>
</table>
