<div class="choice touch-checkbox{{#if checked}} checked{{/if}}" data-value="{{position}}">
	{{text}}
  	{{#if hint}}
	  	<span class="checkbox-choice-hint">{{hint}}</span>
  	{{/if}}
</div>
{{#if specify}}
<input class="form-control specify-input" data-id="{{id}}" type="text" id="specify_{{id}}" value="{{specifyValue}}">
{{/if}}